
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Parcel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Edit Parcel</h1>
<div>
    <form th:object="${parcel}" th:action="@{/save}" action="#" method="post">
        <input type="hidden" th:field="*{id}" id="id">
        <label for="productName">Product:</label>
        <input type="text" id="productName" th:field="*{productName}" />
        <div style="clear: both; display: block; height: 10px;"></div>
        <label for="orderDate">Order Date:</label>
        <input type="text" id="orderDate" th:field="*{orderDate}" />
        <div style="clear: both; display: block; height: 10px;"></div>
        <label for="address">Address:</label>
        <input type="text" id="address" th:field="*{address}" />
        <div style="clear: both; display: block; height: 10px;"></div>
        <label for="customerName">Customer:</label>
        <input type="text" id="customerName" th:field="*{customerName}" />
        <div style="clear: both; display: block; height: 10px;"></div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>
