<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Parcel List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="col-md-4">
        <h1>Parcel in Delivery</h1>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Product</th>
            <th>Order Date</th>
            <th>Address</th>
            <th>Customer Name</th>
        </tr>
        <tr th:each="parcel : ${parcels}">
            <td th:text="${parcel.productName}"></td>
            <td th:text="${parcel.orderDate}"></td>
            <td th:text="${parcel.address}"></td>
            <td th:text="${parcel.customerName}"></td>
            <td th:text="${parcel.status.status}"></td>
            <td><a class="btn btn-xs btn-danger" th:href="@{/delete/{id}(id=${parcel.id})}">Delete</a></td>
            <td><a class="btn btn-danger" th:href="@{/edit/{id}(id=${parcel.id})}">Edit</a></td>
        </tr>
    </table>
    <a class="btn btn-success" href="/addparcel">Add a new Parcel</a>
</div>
</body>
</html>